@model IEnumerable<MagazadbMVC.Models.Magaza>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<br />
<br />
<h2> MAĞAZALAR </h2>

<table class="table table-bordered col-md-11  ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MagazaAd)
        </th>
        <br />
        <th>
            @Html.DisplayNameFor(model => model.MagazaAdres)
        </th>
        <br />
        <th>
            @Html.DisplayNameFor(model => model.MagazaTelefon)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.MagazaAd)
            </td>
            <td>
                @Html.DisplayFor(model => item.MagazaAdres)
            </td>
            <td>
                @Html.DisplayFor(model => item.MagazaTelefon)
            </td>
            <td>
                @Html.ActionLink("Düzenle ", "Duzenle", new { magazano = item.MagazaNo }, new { @class = "btn btn-danger" }) &nbsp;
                @Html.ActionLink("Sil ", "Delete", new { id = item.MagazaNo }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("KAYDET", "Ekle", null, new { @class = "btn btn-danger" })

